.vscode/
obj/
out/
Report/_minted-report

*.aux
*.log
*.out
*.synctex.gz
*.lol
*.toc
*.fff
*.lof

*.o

Images/*.png

Q1-Correlation/correlate
Q2-Smoothing/smooth
Q3-Median/median
Q4-Unsharp/unsharp
Q5-Gradient/gradient